@import url('https://fonts.googleapis.com/css2?family=Cantata+One&display=swap');
body {
    margin: 0; 
    padding-top: 60px;
    font-family: "PT serif", serif;
    background-color: #fff;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background-color: #fef6e4;
    justify-content: space-between;
}
.logo{
    height: 50px;
    width: 50px;
    padding: 3px;
    border-radius: 6px;
    background: #fff;
    transition: transform 0.3s;
    cursor: pointer;
}
.logo:hover{
    transform: scale(1.05);
}

.header h1 {
    font-family: "Cantata One", serif;
    font-size: 1.5rem; 
    color: #333; 
    margin: 0; 
    flex-grow: 1; 
    text-align: center; 
}
/*.spacer{
    width: 70px;
    height: 70px;
}*/
