.memberCard {
    box-sizing: border-box;
    background-color: antiquewhite;
    padding: 30px;
}

.memberCardHeader{
    display: flex;
    align-items: center;
}

.memberCardName{
    margin-right: auto;
}